<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Edit page</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.4.-1.js"></script>
    <script src="/assets/js/magic.js"></script>
    <style>
        legend {
            text-align: center;
            padding: 25px;
        }

        .form,
        .rows {
            padding: 24px !important;
        }

        .container-fluid {
            display: flex !important;
            position: absolute !important;
        }

        .container {
            position: static !important;
        }

        .card {
            width: 50%;
            margin-right: auto !important;
            margin-left: auto !important;
            margin-top: 50px !important;
        }

        .jumbotron {
            margin-top: 50px;
            margin-left: 100px;
            height: max-content !important;
            width: max-content !important;
        }

        .error h1 {
            background: rgb(216, 124, 101);
            width: 100%;

            border: 3px solid rgb(238, 11, 11);
            border-radius: 5px;
            padding: 14px;
            margin-top: 5%;


        }

        .success h1 {
            background: rgb(204, 228, 138);

            width: 100%;
            margin-top: 5%;
            border-radius: 5px;
            border: 3px solid rgb(93, 226, 66);
            padding: 14px;
        }

        button a {
            list-style: none;
            color: inherit;
        }

        .profil {

            margin-left: auto;
            margin-right: auto;
            padding: 24px;
            width: max-content;
            height: max-content;

        }

        .control {
            display: flex;
            align-content: space-between;
            position: static;
        }

        .a {
            float: right;
            margin-left: 0;
            margin-right: auto;
            left: 0;
        }

        .btn-danger {
            float: left;
            margin-left: auto;
            margin-right: 0;
            right: 0;

        }
    </style>

</head>

<body>
    <div class="col-md-6 container">
        <div class="card a">
            <span class="success">
                <% if(locals.succes_edit){%>
                <h1><%= succes_edit %> </h1>
                <%} %>
            </span>
            <span class="error">
                <% if(locals.error){%>
                <h1><%= error %></h1>
                <%} %>
            </span>
            <% if(locals.users_selected){for(users of users_selected){%>
            <div class="rows">

                <legend>Profil de <%= users.name %></legend>
            </div>
            <div class="diviser">
                <hr>
            </div>
            <form id="modif_post" action="" method="post">
                <div class="rows">
                    <div class="profil">
                        <div> <span> Nom: </span><span class="name_<%= users.id %>"><%= users.name %> </span> </div>
                        <div> <span>Prenom :</span><span class="lastname_<%= users.id %>"> <%= users.lastname %></span>
                        </div>
                        <div> <span>Email :</span><span class="mail_<%= users.id %>"><%= users.email %></span> </div>
                    </div>


                </div>
                <hr>
                <div class="rows">
                    <div class="control">
                        <button><a href="/" class="btn btn-danger a delete_<%= users.id %>">Return</a></button>
                        <button id="<%= users.id %>" class="btn edit_<%= users.id %> btn-danger edit">Modifier</button>

                    </div>
                </div>
            </form>

        </div>

        <%}} %>
    </div>
</body>

</html>